.bottom-navigation {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 82px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 15%;
  background-color: white;
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 8px;
  font-size: 10px;
}

.active {
  color: rgba(0, 210, 189, 1);
}