.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;
  padding-top: 30px;
}

.title {
  margin-right: auto;
  font-weight: 600;
  font-size: 25px;
  color: rgba(0, 0, 0, 1);
}

.form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 45px;
}

.signup_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 13px;
}

.phone_number_box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  column-gap: 8px;
}

.auth_number_box {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.timer {
  padding-right: 18px;
  font-size: 14px;
  color: rgba(255, 0, 0, 1);
}

.input {
  width: 100%;
  height: 48px;
  padding-left: 16px;
  border: 1px solid rgba(217, 217, 217, 1);
  border-radius: 1px;
  color: rgba(45, 50, 67, 1);
}

.input:focus {
  outline: 1.3px solid rgba(0, 210, 189, 1);
}

.auth_btn {
  height: 48px;
  padding: 0 20px;
  border-radius: 4px;
  background-color: rgba(250, 250, 251, 1);
  color: rgba(45, 50, 67, 1);
  white-space: nowrap;
}

.timer {
  position: absolute;
  font-size: 14px;
  color: rgba(255, 0, 0, 1);
}

.radio_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 8px;
}

.radio {
  width: 100%;
}

.radio input[type=radio] {
  display: none;
}

.radio label {
  width: 100%;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(212, 214, 218, 1);
  border-radius: 1px;
  font-size: 14px;
  color: rgba(45, 50, 67, 1);
}

.radio input[type=radio]:checked + label {
  border: 1.3px solid rgba(0, 210, 189, 1);
}

.next_btn {
  width: 100%;
  height: 54px;
  border-radius: 10px;
  background-color: rgba(0, 210, 189, 1);
  color: rgba(255, 255, 255, 1);
}